.pop-up__closed {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0px;
  position: absolute;
  top: -30px;
  right: -30px;
}

@media (max-width: 708px) {
  .pop-up__closed {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
