.profile {
  max-width: 880px;
  margin: 0px auto;
  padding: 0px 3%; /*боковые внутренние отступы заданы для приятного отображения в разрешениях от 880 до 440 */
  display: grid;
  grid-template-columns: fit-content(120px) 1fr fit-content(150px);
  gap: 30px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 708px) {
  .profile {
    max-width: 480px;
    grid-template-columns: fit-content(120px) 1fr;
  }
}

@media (max-width: 500px) {
  .profile {
    max-width: 282px;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
