.profile__edit {
  width: 24px;
  height: 24px;
  align-self: end;
  border: 1px solid;
  border-color: #fff;
  padding: 0px;
}

@media (max-width: 500px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
