.profile__avatar-wrapper {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.profile__avatar-wrapper:hover .profile__avatar-edit {
  opacity: 1;
}

.profile__avatar-wrapper::after {
  content: " ";
  display: block;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2;
  cursor: pointer;
  transition: all 0.6s linear;
  opacity: 0;
}

.profile__avatar-wrapper:hover::after {
  opacity: 1;
}
