.profile__avatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 708px) {
  .profile__avatar {
    grid-row: span 2;
  }
}

@media (max-width: 500px) {
  .profile__avatar {
    grid-row: span 1;
  }
}
