.button {
  background-color: transparent;
  transition: opasity 2s linear 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}
